{% extends 'generic/object.html' %}
{% load helpers %}
{% load plugins %}

{% block content %}
<div class="row mb-3">
    <div class="col col-md-6">
        <div class="card">
            <h5 class="card-header">Network</h5>
            <table class="table table-hover attr-table">
                <tr>
                    <th scope="row">RIR Config</th>
                    <td>{{ object.rir_config|linkify }}</td>
                </tr>
                <tr>
                    <th scope="row">Handle</th>
                    <td>{{ object.handle }}</td>
                </tr>
                <tr>
                    <th scope="row">Net Name</th>
                    <td>{{ object.net_name }}</td>
                </tr>
                <tr>
                    <th scope="row">Net Type</th>
                    <td>{{ object.net_type|placeholder }}</td>
                </tr>
                <tr>
                    <th scope="row">Organization</th>
                    <td>{{ object.organization|linkify|placeholder }}</td>
                </tr>
                <tr>
                    <th scope="row">Last Synced</th>
                    <td>{{ object.last_synced|placeholder }}</td>
                </tr>
            </table>
        </div>
        <div class="card">
            <h5 class="card-header">NetBox Links</h5>
            <table class="table table-hover attr-table">
                <tr>
                    <th scope="row">Aggregate</th>
                    <td>{{ object.aggregate|linkify|placeholder }}</td>
                </tr>
                <tr>
                    <th scope="row">Prefix</th>
                    <td>{{ object.prefix|linkify|placeholder }}</td>
                </tr>
            </table>
        </div>
        <div class="card">
            <h5 class="card-header">ARIN Actions</h5>
            <div class="card-body">
                <a href="{% url 'plugins:netbox_rir_manager:rirnetwork_reassign' object.pk %}"
                   class="btn btn-sm btn-primary me-1">
                    <i class="mdi mdi-swap-horizontal"></i> Reassign
                </a>
                <a href="{% url 'plugins:netbox_rir_manager:rirnetwork_reallocate' object.pk %}"
                   class="btn btn-sm btn-info me-1">
                    <i class="mdi mdi-arrow-right-bold"></i> Reallocate
                </a>
                <form method="post" action="{% url 'plugins:netbox_rir_manager:rirnetwork_remove' object.pk %}"
                      class="d-inline" onsubmit="return confirm('Remove this network from ARIN?');">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-warning me-1">
                        <i class="mdi mdi-minus-circle"></i> Remove
                    </button>
                </form>
                <form method="post" action="{% url 'plugins:netbox_rir_manager:rirnetwork_delete_arin' object.pk %}"
                      class="d-inline" onsubmit="return confirm('Submit delete request to ARIN?');">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-danger">
                        <i class="mdi mdi-delete"></i> Delete at ARIN
                    </button>
                </form>
            </div>
        </div>
        {% plugin_left_page object %}
    </div>
    <div class="col col-md-6">
        {% include 'inc/panels/tags.html' %}
        {% plugin_right_page object %}
    </div>
</div>
<div class="row">
    <div class="col col-md-12">
        {% plugin_full_width_page object %}
    </div>
</div>
{% endblock content %}
